<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="c3afce88-69c0-483a-a86a-ca24b2aeba9c"
            Publisher="CN=Anish"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>triviaTemplate</DisplayName>
    <PublisherDisplayName>Anish</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="triviaTemplate.App">
        <VisualElements
            DisplayName="triviaTemplate"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="triviaTemplate"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>