<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="18568simhal.ResistorColorCalculator" Publisher="CN=5592F5A0-2597-4792-927D-0392E482E906" Version="1.0.0.1" />
  <Properties>
    <DisplayName>Resistor Color Calculator</DisplayName>
    <PublisherDisplayName>simhal</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ResistorColorCalc.App">
      <VisualElements DisplayName="Resistor Color Calculator" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Type a resistance value and see which color bands are needed for your resistor!" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>